<div class="container text-center">
  <h1 class="text-center mt-5 mb-2">New Band</h1>

  <%= render 'form', band: @band, class: 'btn my-3 m-5 text-light' %>

  <%= link_to 'Back', bands_path, class: 'btn my-3 m-5 text-light' %>
</div>